<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--
Taken from Core Servlets and JavaServer Pages Volume II
from Prentice Hall and Sun Microsystems Press,
http://volume2.coreservlets.com/.
(C) 2007 Marty Hall, Larry Brown, and Yaakov Chaikin;
may be freely used or adapted.
-->
<!DOCTYPE taglib
 PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
 "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">

<taglib>
  <tlib-version>1.0</tlib-version>
  <jsp-version>1.2</jsp-version>
  <short-name>Counts</short-name>
  <description>
    A tag library for counters. From Core Servlets and
    JavaServer Pages, http://www.coreservlets.com/.
  </description>
  <tag>
    <name>count</name>
    <tag-class>coreservlets.CounterTag</tag-class>
    <body-content>empty</body-content>
    <description>Hit count</description>
  </tag>
</taglib>
