<%@ attribute name="align" required="true"%>
<%@ attribute name="bgColor" required="true"%>
<%@ attribute name="border" required="true"%>
<%@ attribute name="fgColor" required="true"%>
<%@ attribute name="font" required="true"%>
<%@ attribute name="size" required="true"%>
<TABLE ALIGN="${align}" BGCOLOR="${bgColor}" BORDER="${border}">
  <TR>
    <TH><SPAN STYLE="color: ${fgColor};
                   font-family: ${font};
                   font-size: ${size}px;"> <jsp:doBody /></SPAN>
</TABLE>
<BR CLEAR="ALL">
<BR>
