<%@ attribute name="length" required="false"%>
<%
  int len = 50;
  try {
    len = Integer.parseInt(length);
  } catch (NumberFormatException nfe) {
  }
%>
<%=coreservlets.Primes.nextPrime(coreservlets.Primes.random(len))%>