BODY { background-color: #FDF5E6 }
A:hover { color: red }
H1 { color: #440000;
     text-align: center;
     font-family: Arial Black, Arial, Helvetica, sans-serif
}
H2 {
	color: #440000;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif
}
H3 { color: #440000;
     text-align: left;
     font-family: Arial, Helvetica, sans-serif
}
UL { margin-top: 0;
     border-top-width: 0;
     padding-top: 0
}
TH.TITLE   { background-color: #FFAD00;
             font-size: 32px;
             font-family: Arial Black, Arial, Helvetica, sans-serif;
}